<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="/">
                        <img src="/images/iLocale.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item <%= path !== '/' || (path === '/login' || path === '/signup') ? '' : 'active' %> ">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown dropdown-slide ">
                                <a class="nav-link dropdown-toggle " href=" " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                Businesses <span><i class="fa fa-angle-down "></i></span>
                            </a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item <%=( path !=='/' && !navbarCategory) && path.split( '/businesses')[1]==='' ? 'active' : ''%>" href="/businesses"> All Businesses
                                </a>
                                    <% for(const category of categories){ %>
                                        <a class="dropdown-item <%= navbarCategory && navbarCategory === category.categoryName ? 'active' : '' %>" href="/businesses?<%= `category=${category.categoryName}` %>">
                                            <span><i class="fa fa-<%=category.iconClass%>"></i></span>
                                            <%= `${category.displayText}s` %>
                                        </a>
                                        <% } %>
                                </div>
                            </li>
                            <% if(currentUser && currentUser.isAdmin || (currentUser && currentUser.isSuperUser)){ %>
                                <li class="nav-item dropdown dropdown-slide ">
                                    <a class="nav-link dropdown-toggle " href=" " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                Manage <span><i class="fa fa-angle-down "></i></span>
                            </a>
                                    <div class="dropdown-menu ">
                                        <% if(currentUser && currentUser.isSuperUser){ %>
                                            <a href="/superuser/users" class="dropdown-item">
                                                <i class="fa fa-user"></i> Manage User Roles
                                            </a>
                                            <% } %>
                                                <a href="/admin/categories" class="dropdown-item">
                                                    <i class="fa fa-folder"></i> Categories
                                                </a>
                                                <a href="/admin/categories/new" class="dropdown-item">
                                                    <i class="fa fa-plus-circle"></i> Create Category
                                                </a>
                                    </div>
                                </li>
                                <% } %>
                                    <li class="nav-item <%= path === '/contact' ? 'active' : '' %>">
                                        <a class="nav-link" href="/contact ">Contact</a>
                                    </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            <% if(!currentUser){ %>
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="/login">Log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white add-button" href="/signup">Sign up</a>
                                </li>
                                <% } else{ %>
                                    <li class="nav-item">
                                        <a class="nav-link add-listing-button text-white" href="/businesses/new"><i class="fa fa-plus-circle"></i> Add Business</a>
                                        <li class="nav-item">
                                            <a class="nav-link logout-button" href="/logout">Logout</a>
                                        </li>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>