<% layout('layouts/boilerplate') %>
    <section class="dashboard section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <%- include('../partials/profile-section') %>
                            <!-- Dashboard Links -->
                            <%- include('../partials/admin-sidebar') %>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        <h3 class="widget-header">Categories</h3>
                        <% if(categories.length){ %>
                            <table class="table table-responsive product-dashboard-table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Category</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="categories-container">

                                    <% for(const category of allCategories.docs){ %>
                                        <tr>
                                            <td class="product-category"><span class="categories"><%= category.categoryName %></span></td>
                                            <td class="action" data-title="Action">
                                                <div class="">
                                                    <ul class="list-inline justify-content-center">
                                                        <li class="list-inline-item">
                                                            <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="/businesses?category=<%=category.categoryName%>">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" href="/admin/categories/<%= category._id %>/edit">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <form action="/admin/categories/<%= category._id %>?_method=DELETE" method="POST">
                                                                <button class="delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <% } else{ %>
                                <p class="text-center">No categories created.</p>
                                <% } %>
                    </div>
                    <% if(allCategories.hasNextPage){ %>
                        <div class="text-center" id="category-feedback">
                            <a href="/admin/categories?page=<%= allCategories.nextPage %>" class="text-primary" id="category-paginate">Load More</a>
                        </div>
                        <% } %>

                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>

    <script>
        const categories = <%- JSON.stringify(allCategories) %>
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/categoriesPagination.js"></script>