<% layout('layouts/boilerplate') %>
    <%- include('../partials/advance-search')%>
        <section class="section-sm">
            <div class="container-fluid">
                <% if(title || location){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search-result bg-gray">
                                <h2>Search Results For
                                    <%= title ? `"${title.charAt(0).toUpperCase() + title.slice(1)}"` : '' %>
                                        <%= location ? `and "${location}"` : '' %>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <div class="category-sidebar" id="sidebar-cat">
                                    <div class="widget category-list">
                                        <h4 class="widget-header">All Categories</h4>
                                        <ul class="category-list">
                                            <% for(const category of categories) {%>
                                                <li>
                                                    <a href="/businesses?category=<%=category.categoryName%>">
                                                        <i class="fa fa-<%=category.iconClass%>"></i>
                                                        <%=category.displayText%>s
                                                </li>
                                                <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-5" id="businesses-container">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="nav-item dropdown dropdown-slide">
                                                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="label-link">
                                                Sort: <span><strong id="selected-text">
                                                    <% if(sortBy === 'createdAt:desc'){ %> 
                                                        Most Recent
                                                    <% } else if(sortBy === 'mostReviewed'){%> 
                                                        Most Reviewed
                                                    <% } else{%> 
                                                        Oldest
                                                        <% } %> 

                                                </strong></span><span id="sort-icon"><i class="fa fa-angle-down" id="set-dc"></i></span>
                                            </a>
                                                    <!-- Dropdown list -->
                                                    <div class="dropdown-menu w-25">
                                                        <% for(const values of displaySort){ %>
                                                            <a class="dropdown-item <%= sortBy && values.sortName === sortBy ? 'active' : '' %>" href="/businesses?<%= title || location || category? `${title && !location && !category ? `title=${title}` : ''}${location && !title && !category ? `location=${location}` : ''}${category && !title && !location ? `category=${category}`:''}${title && location && !category ? `title=${title}&location=${location}` : ''}${title && location && category ? `title=${title}&location=${location}&category=${category}` : ''}&sortBy=${values.sortName}` 
                                                    : `sortBy=${values.sortName}` %>">
                                                                <%= values.anchorValue  %>
                                                            </a>
                                                            <% } %>
                                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% businesses.docs.forEach((business, i) =>{ %>
                            <div class="biz-listing-list mt-20">
                                <div class="row p-lg-3 p-sm-5 p-4">
                                    <div class="col-lg-4 align-self-center">
                                        <a href="/businesses/<%=business._id  %>">
                                                <img src="<%= business.images.length ? business.images[0].url : 'https://res.cloudinary.com/dofxpwwou/image/upload/v1642398778/iLocale/w2cjwlko98y1i8z1vtx2.jpg'%>" class="img-fluid"
                                                alt="Card image cap">
                                            </a>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-10">
                                                <div class="ad-listing-content">
                                                    <div>
                                                        <a href="/businesses/<%=business._id  %>" class="font-weight-bold">
                                                            <%= business.title %>
                                                        </a>
                                                    </div>
                                                    <ul class="list-inline mt-2 mb-3">
                                                        <li class="list-inline-item">
                                                            <a href="category.html"> <i class="fa fa-<%=business.category.iconClass%>"></i>
                                                                        <%= business.category ? business.category.displayText : 'N/A' %>
                                                                    </a>
                                                        </li>
                                                        <li class="list-inline-item"><a href=""><i class="fa fa-location-arrow"></i> <%=business.location %></a></li>
                                                    </ul>
                                                    <p class="pr-5">
                                                        <%= business.shortText %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 align-self-center">
                                                <div class="product-ratings float-lg-right pb-3" id="biz-<%=i%>">
                                                    <% if(business.rateCount){ %>
                                                        <div class="stars-outer">
                                                            <div class="stars-inner"></div>
                                                        </div>
                                                        <span class="text-muted" style="font-size: small;">
                                                        <%= business.rateCount && business.rateCount === 1 ? `${business.rateCount} review` : `${business.rateCount} reviews`%>
                                                    </span>
                                                        <% } else{ %>
                                                            <p>No reviews</p>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
            </div>
            <div id="clusterMap"></div>
            </div>
            </div>

        </section>
        <% if(businesses.hasNextPage){ %>
            <div class="text-center mb-5" id="generate-data">
                <a href="/businesses?page=<%= businesses.nextPage %><%= title ? `&title=${title}` : ''%><%= location ? `&location=${location}` : '' %><%= category ? `&category=${category}`:''  %><%= sortBy ? `&sortBy=${sortBy}` : ''  %>" id="paginate" class="btn btn-primary">Load More</a>
            </div>
            <% } %>
                <script>
                    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
                    const businesses = {
                        features: <%- JSON.stringify(businesses.docs) %>
                    };
                </script>
                <script src="/js/indexStars.js"></script>
                <script src="/js/clusterMap.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="/js/indexPagination.js"></script>