<% layout('layouts/boilerplate') %>

    <section class="page-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advance Search -->
                    <div class="advance-search">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="What are you looking for">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputCategory4" placeholder="Category">
                                </div>
                                <div class="form-group col-md-3">
                                    <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4" placeholder="Location">
                                </div>
                                <div class="form-group col-md-2">

                                    <button type="submit" class="btn btn-primary">Search Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-gray">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-8">
                    <div class="product-details">
                        <h1 class="product-title">
                            <%= restaurant.title %>
                        </h1>
                        <div class="product-meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-user-o"></i> By
                                    <a href="">
                                        <%= restaurant.author.username %>
                                    </a>
                                </li>
                                <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">Electronics</a></li>
                                <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location
                                    <a href="">
                                        <%= restaurant.location %>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- product slider -->
                        <div class="product-slider">
                            <div class="product-slider-item my-4" data-image="images/products/products-1.jpg">
                                <img class="img-fluid w-100" src="<%= restaurant.images %>" alt="product-img">
                            </div>
                            <div class="product-slider-item my-4" data-image="images/products/products-2.jpg">
                                <img class="d-block img-fluid w-100" src="images/products/products-2.jpg" alt="Second slide">
                            </div>
                            <div class="product-slider-item my-4" data-image="images/products/products-3.jpg">
                                <img class="d-block img-fluid w-100" src="images/products/products-3.jpg" alt="Third slide">
                            </div>
                            <div class="product-slider-item my-4" data-image="images/products/products-1.jpg">
                                <img class="d-block img-fluid w-100" src="images/products/products-1.jpg" alt="Third slide">
                            </div>
                            <div class="product-slider-item my-4" data-image="images/products/products-2.jpg">
                                <img class="d-block img-fluid w-100" src="images/products/products-2.jpg" alt="Third slide">
                            </div>
                        </div>
                        <!-- product slider -->

                        <div class="content mt-5 pt-5">
                            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Product Details</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Description</h3>
                                    <p>
                                        <%= restaurant.description %>
                                    </p>

                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                                    <div class="product-review">
                                        <% if(currentUser){ %>
                                            <div class="review-submission">
                                                <h3 class="tab-title">Submit your review</h3>
                                                <div class="review-submit">
                                                    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST" class="row needs-validation" novalidate>
                                                        <fieldset class="starability-basic" id="star-form">
                                                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                                                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                                            <label for="first-rate1" title="Terrible">1 star</label>
                                                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                                            <label for="first-rate2" title="Not good">2 stars</label>
                                                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                                            <label for="first-rate3" title="Average">3 stars</label>
                                                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                                            <label for="first-rate4" title="Very good">4 stars</label>
                                                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                                        </fieldset>
                                                        <div class="col-12">
                                                            <textarea name="review[body]" id="review" rows="5" class="form-control" placeholder="Message" required></textarea>
                                                            <div class="invalid-feedback mb-3 error-text">Message is required</div>
                                                        </div>
                                                        <div class="col-12">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                                                <h3 class="tab-title <%= !currentUser ? '' : 'mt-5' %>">Restaurant Reviews</h3>
                                                <% if(restaurant.reviews.length){ %>
                                                    <% for(let review of restaurant.reviews){ %>
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <div class="row">
                                                                    <div class="col-11">
                                                                        <p class="starability-result" data-rating="<%=review.rating%>">
                                                                            Rated:
                                                                            <%= review.rating %> stars
                                                                        </p>
                                                                    </div>
                                                                    <% if(currentUser && review.author.equals(currentUser._id)){ %>
                                                                        <div class="col-1 dropleft">
                                                                            <a class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            </a>
                                                                            <div class="dropdown-menu" id="review-options">
                                                                                <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                                                                    <button class="dropdown-item" id="option-delete">Delete</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                                <div class="name">
                                                                    <h5>
                                                                        <%= review.author.username %>
                                                                    </h5>
                                                                </div>
                                                                <div class="date">
                                                                    <p>Mar 20, 2018</p>
                                                                </div>
                                                                <div class="review-comment">
                                                                    <p>
                                                                        <%= review.body %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <% } else{ %>
                                                                <div class="review-comment text-center">
                                                                    <p>
                                                                        No reviews yet.
                                                                    </p>
                                                                </div>
                                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="show-sidebar">
                    <div class="sidebar sticky-top">
                        <div class="widget map">
                            <div class="map">
                                <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
                            </div>
                        </div>
                        <% if(currentUser && restaurant.author.equals(currentUser._id)){ %>
                            <div class="widget user text-center" id="post-controls">
                                <ul class="list-inline mt-20">
                                    <li class="list-inline-item"><a href="/restaurants/<%= restaurant._id%>/edit" class="btn btn-contact d-inline-block  btn-info px-lg-3 my-1 px-md-3">Edit Post</a></li>
                                    <li class="list-inline-item">
                                        <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-offer btn-danger ml-n1 my-1 px-lg-4 px-md-3">Delete Post</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <% } %>
                    </div>
                </div>

            </div>
        </div>
    </section>